* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Inter", sans-serif;
}

.navColor {
  background: linear-gradient(to left, #96dbf0, white);
}

.menuBox {
  border: none;
}
.menuBox:focus {
  box-shadow: none;
}

.tipoTexto {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  opacity: 0.8;
}
.tipoTexto:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

.fotoFormato {
  max-height: 550px;
}

.itemFoto {
  max-height: 550px;
}

.introBloque {
  background: #63ccc2;
  padding: 10px;
  margin: 0px;
}

.intro {
  text-align: center;
}
.intro__tit {
  color: white;
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 30px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes aparecer {
  from {
    margin-right: 100%;
    width: 400%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
.intro__txt {
  color: black;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px;
}
.intro__txt--fuerte {
  font-size: 20px;
  font-weight: 700;
}

.productoBloque {
  text-align: center;
  padding: 30px;
  margin: auto;
}

.introProd__tit {
  color: blanchedalmond;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
}
.introProd__tit--anima {
  animation-duration: 2s;
  animation-name: anima;
  animation-iteration-count: infinite;
}
@keyframes anima {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.introProd__txt {
  color: #7b6cd1;
  font-size: 25px;
  font-style: italic;
}

.prod__txt {
  text-align: right;
  color: #026694;
  font-size: 20px;
  font-weight: 700;
}

.flip-card {
  background-color: transparent;
  width: 286px;
  height: 400px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #e0c5c5;
  color: black;
}

.flip-card-back {
  background-image: url(../img/backcard.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  color: white;
  transform: rotateY(180deg);
  padding-top: 160px;
}

.boton {
  font-size: medium;
  font-weight: 800;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0px;
}

.containerFoot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1px;
  background: linear-gradient(to bottom, #8ef7ff, #dce2de);
}

.foot {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.foot__item {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.foot__link {
  text-decoration: none;
  opacity: 0.5;
}
.foot__link--hover:hover {
  opacity: 1;
  transform: scale(1, 1.1);
}

.marca {
  color: black;
  text-align: center;
  font-size: 8px;
  font-weight: 100;
  margin-top: 2px;
}

.introProd {
  text-align: center;
  padding: 30px;
  margin: auto;
  background: #63ccc2;
}
.introProd__tit--pag {
  color: white;
  padding-bottom: 0px;
  font-size: 50px;
  font-weight: 700;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes aparecer {
  from {
    margin-left: 100%;
    width: 400%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.containerProd {
  display: grid;
  background: white;
  width: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  grid-template-rows: auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-items: stretch;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-evenly;
}

.prodBox {
  border-bottom: 2px solid blanchedalmond;
}

.prodImg {
  padding-bottom: 5px;
  margin: 0px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.prodTit {
  text-align: center;
}
.prodTit__ppal {
  color: #09666b;
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.prodTit__sub {
  color: #c08989;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
}
.prodTit__desc {
  line-height: 25px;
  text-align: justify;
  color: black;
}

.icono {
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
}

.ajuste {
  position: relative;
  padding-top: 40px;
}

.form {
  border-radius: 10px;
  max-width: 460px;
  background: linear-gradient(to right, #e2e9eb, white);
}
.form__tit {
  color: #396b94;
  font-size: 30px;
  text-align: left;
  font-weight: 700;
}
.form__etiq {
  color: black;
  font-size: 14px;
}

.back {
  background-image: url(../img/back\ contacto\ \(2\).jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
