.form{
    border-radius: 10px;
    max-width: 460px;
    background: linear-gradient(to right, rgb(226, 233, 235), white); 
    &__tit{
        color: $color-titForm;
        font-size: 30px;
        text-align: left;
        font-weight: 700;
        }
    &__etiq{
        color: $color-form;
        font-size: 14px;
    }
}
.back{
    background-image: url(../img/back\ contacto\ \(2\).jpg);
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}