.navColor{
    background: linear-gradient(to left, rgb(150, 219, 240), white);
    
}
.menuBox{
    border: none;
    &:focus{
        box-shadow: none;
    }
}
.tipoTexto{
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0.80;
    &:hover{
        opacity: 0.5;
        transform: scale(1.2);
    }
}
.fotoFormato{
    max-height: 550px;   
}
.itemFoto{
    max-height: 550px;
} 
.introBloque{
    background: $back-titulos;
    padding: 10px;
    margin: 0px;
}
.intro{
    text-align: center;
    &__tit{
        color:$color-tit;
        font-size: $size-tit;
        font-weight: $weight-tit;
        padding-bottom: $padd-bottom;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }
    @keyframes aparecer{
        from{
            margin-right: 100%;
            width: 400%;
        }
        to {
            margin-right: 0%;
            width: 100%;
        }
    }
    &__txt{
        color: black;
        font-size: 20px;
        line-height:  30px;
        padding-bottom: 30px ;
        &--fuerte{
            font-size: 20px;
            font-weight: 700;
        }
    }
}
.productoBloque{
    text-align: center;
    padding: 30px;
    margin: auto;
}
.introProd__tit{
    color: blanchedalmond;
    padding-bottom: 30px ;
    font-size: 50px;
    font-weight: 700;
    &--anima{
        animation-duration: 2s;
        animation-name: anima;
        animation-iteration-count: infinite;
    }
    @keyframes anima{
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    
}
.introProd__txt{
    color: rgb(123, 108, 209);
    font-size: 25px;
    font-style: italic;
}
.prod__txt{
    text-align:right;
    color: rgb(2, 102, 148);
    font-size: 20px;
    font-weight: 700;
}
.flip-card {
    background-color: transparent;
    width: 286px;
    height: 400px;

}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: rgb(224, 197, 197);
    color: black;
}
.flip-card-back {
    background-image: url(../img/backcard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    color: white;
    transform: rotateY(180deg);
    padding-top: 160px;
}


.boton{
    font-size: medium;
    font-weight: 800;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 0px;
}
.containerFoot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 1px;
    background: linear-gradient(to bottom, rgb(142, 247, 255), rgb(220, 226, 222));
}
.foot{
    list-style-type: none;
    display:flex;
    margin: 0;
    &__item{
        display:flex;
        margin: 10px;
        padding: 10px;
    }
    &__link{
        text-decoration: none;
        opacity: 0.5;
    }
    &__link--hover:hover{
        opacity: 1;
        transform: scale(1,1.1);
    }
}
.marca{
    color: $color-marcapie;
    text-align: center;
    font-size: 8px;
    font-weight: 100;
    margin-top: 2px;
}
