@mixin intro($text-align, $padding, $margin){
    text-align: $text-align ;
    padding: $padding ;
    margin: $margin;
    background: $back-titulos;
}
.introProd{
    @include intro(center, 20px, auto);
    
    &__tit--pag{
        color: $color-tit;
        padding-bottom: 0px ;
        font-size: 50px;
        font-weight: 700;
    }
}
.containerProd{
    display: grid;
    background: $back-primario;
    width: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px,300px));
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.prodImg{
    padding-bottom: 5px;
    margin: 0px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}
.prodTit{
    text-align: center;
    &__ppal{
        color: $color-prodTit ;
        font-size: 20px;
        padding: 10px;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    &__sub{
        color: $color-prodSec;
        font-style: $font-prodSec;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__desc{
        line-height: 25px;
        text-align: justify;
        color: $color-prodDesc;
    }
}
.icono{
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
}
.ajuste{
    position: relative;
    padding-top: 40px;
}
.efectoCard{
        opacity: 0.80;
        &:hover{
            opacity: 1;
            transform: scale(1.1);
        }
    }


