$back-primario: white;
$back-titulos: rgb(99, 204, 194);
$color-tit: white;
$size-tit: 60px;
$weight-tit: 800;
$padd-bottom:30px;
$color-marcapie: black;
$color-prodTit: rgb(9, 102, 107);
$color-prodSec: rgb(192, 137, 137);
$font-prodSec: italic;
$color-prodDesc: black;
$color-titForm: rgb(57, 107, 148);
$color-form: black;